:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : ENV['FB_APP_ID'],
      cookie     : true,
      xfbml      : true,
      version    : 'v2.12'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
.fb-block
  - unless current_user
    = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: 'fb'
  - else
    .fb
      = current_user.name
      = link_to "Logout", destroy_user_session_path, method: :delete, class: 'fb'
