#googleMap
%script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
%script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyAiW1JcyQxgKFXNbSLy19mciRsUqSneuE4&callback=targetIndex"}
:javascript
  targetIndex();
.rectangle-3
  .rectangle-2
    %p.create-target CREATE TARGET
  = image_tag image_path("group.svg"), |
    class: "group"                        |
  %p.page-title TARGET LIST
  %div
    %ul.list
      - @targets.each do |target|
        %li= target.title
  = image_tag image_path("smilies.png"), |
    class: "smilies"                        |
  :javascript
    var $li = $('li').click(function() {
        $li.removeClass('selected');
        $(this).addClass('selected');
        var value = $(this)[0].id;
        $('#topic').val(value);
    });
