= render "targets/facebook_logout"
#googleMap
:javascript
  targetIndex();
.rectangle-3
  .rectangle-2
    %p.create-target CREATE TARGET
  = image_tag image_path("group.svg"), |
    class: "group"                        |
  %p.page-title TARGET LIST
  %div
    %ul.list
      - @targets.each do |target|
        %li= target.title
  = image_tag image_path("smilies.png"), |
    class: "smilies"                        |
  :javascript
    var $li = $('li').click(function() {
        $li.removeClass('selected');
        $(this).addClass('selected');
        var value = $(this)[0].id;
        $('#topic').val(value);
    });
