/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  width: 100%;
}

select,input:focus { outline:0 !important; }

.smilies-big {
  height: 7.8rem;
  margin: 5% 0 0 46%;
  object-fit: contain;
  width: 13.3rem;
}

.target-mvd {
  color: black;
  font-family: 'Open Sans';
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3rem;
  margin-left: 45%;
}

.target-mvd.text-style-1 {
  letter-spacing: normal;
}

.home-title {
  color: #212121;
  font-family: 'Open Sans';
  font-size: 1.8rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  margin-left: 41%;
}

.home-text {
  color: black;
  font-family: 'Open Sans';
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  margin-left: 39%;
  text-align: center;
  width: 32.1rem;
}

.fb-block {
  background-color: #3B5998;
  float: left;
  height: 3%;
  margin-left: 43%;
  padding: 0;
  text-align: center;
  width: 20rem;
}

.fb {
  color: white;
  font-family: 'Open Sans';
  font-size: 1.6rem;
  text-decoration: none;
}
