// Place all the styles related to the Target controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  width: 100%;
  overflow-y: scroll;
}

select,input:focus { outline:0 !important; }

#googleMap {
  border: 0;
  float: right;
	height: 100%;
  margin: 0;
  padding: 0;
  width: 75%;
}

.fb-logout-block {
  background-color: #3B5998;
  float: left;
  height: 3%;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 20%;
  width: 24.95%;
}

.fb-logout {
  color: white;
  font-family: 'Open Sans';
}

.rectangle-3 {
  border: 0;
  box-shadow: 0 0.2rem 0.4rem 0.1rem rgba(0, 0, 0, 0.3);
  float: left;
  height: 97%;
  margin: 0;
  padding: 0;
	width: 24.95%;
}

.rectangle-3 .rectangle-2 {
  background-color: #2fbcf7;
  border-top: 0;
  height: 5.9rem;
  margin-top: 0;
  padding-top: 0;
  vertical-align: middle;
}

.create-target {
  border-top: 0;
  color: white;
  font-family: 'Open Sans';
  font-size: 2rem;
  font-weight: 600;
  height: 2.7rem;
  letter-spacing: 0.3rem;
  margin-top: 0;
  padding-top: 5%;
	text-align: center;
}

.group {
  margin: 2% 0% 2% 45%;
	object-fit: contain;
}

.page-title {
  font-family: 'Open Sans';
	font-size: 1.1rem;
	font-weight: 600;
  letter-spacing: 0.16rem;
  margin-top: 0;
  padding-top: 0;
	text-align: center;
}

.specify-area-lenght {
  font-family: 'Open Sans';
	font-size: 1.1rem;
	font-weight: 600;
  letter-spacing: 0.07rem;
  padding: 4% 0 0 10%;
	text-align: left;
}

.specify-area-lenght .text-style-1 {
	letter-spacing: normal;
}

.length-rectangle {
  border: solid 0.05rem;
  height: 3.9rem;
  margin-left: 10%;
	width: 25.7rem;
}

.length {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  background: transparent;
  border: transparent;
  font-family: 'Open Sans';
	font-size: 1.3rem;
	font-weight: 600;
  height: 3.9rem;
  hover: disabled;
  letter-spacing: 0.19rem;
  margin-left: 40%;
  text-align: center;
  width: 25.7rem;
}

.target-title {
  margin-left: 10%;
	width: 14.2rem;
	height: 1.5rem;
	font-family: 'Open Sans';
	font-size: 1.1rem;
	font-weight: 600;
	letter-spacing: 0.07rem;
	text-align: left;
}

.title-rectangle {
  border: solid 0.05rem;
  height: 3.9rem;
  margin-left: 10%;
	width: 25.7rem;
}

.title-input {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  background: transparent;
  border: transparent;
  font-family: 'Open Sans';
	font-size: 1.1rem;
	font-weight: 600;
  height: 3.9rem;
  letter-spacing: 0.07rem;
  text-align: center;
  width: 25.7rem;
}

.title-input .text-style-1 {
	letter-spacing: normal;
}

.select-a-topic {
  font-family: 'Open Sans';
	font-size: 1.1rem;
	font-weight: 600;
  height: 1.5rem;
  letter-spacing: 0.07rem;
  margin-left: 10%;
  text-align: left;
	width: 14.2rem;
}

.rectangle-3 .topics-title-rectangle {
	border: solid 0.05rem;
  border-bottom: transparent;
  height: 3.9rem;
  margin-left: 10%;
	width: 25.7rem;
}

.topics-title {
	font-family: 'Open Sans';
	font-size: 1.1rem;
	font-weight: 600;
	letter-spacing: 0.07rem;
	text-align: left;
  text-align: center;
}

.topics-rectangle {
  border: solid 0.05rem;
  height: 29rem;
  margin: 0 0 0 10%;
  width: 25.7rem;
}

.list {
  font-family: 'Open Sans';
	font-size: 1.3rem;
  letter-spacing: 0.19rem;
  margin-top: 2%;
  padding-left: 10%;
	text-align: left;
}

li {
  border-bottom: solid 0.05rem;
  padding: 0.6rem;
}

li:hover {
  background-color: #f4f4f4;
  border-right: solid 0.05rem;
}

li.selected {
  background-color: #f4f4f4;
  border-right: solid 0.05rem;
}

.submit-div {
  background-color: black;
	box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.3);
	border: solid 0.1rem;
  height: 3.9rem;
  margin: 5% 0 0 34%;
  padding: 0;
	width: 11.35rem;
}

.submit-div .submit {
  background-color: transparent;
  border-top: 0;
  border: transparent;
	color: white;
  font-family: 'Open Sans';
	font-size: 1.1rem;
	font-weight: 300;
  letter-spacing: 0.16rem;
  margin-top: 0;
  padding: 9% 0 0 12%;
  text-align: center;
}

.smilies {
	height: 2.8rem;
  margin: 6% 0 0   45%;
	object-fit: contain;
  width: 4.8rem;
}

.football {
  list-style-image: image-url(football);
  list-style-position:outside;
}

.travel {
  list-style-image: image-url(travel);
  list-style-position:outside;
}
.politics {
  list-style-image: image-url(politics);
  list-style-position:outside;
}
.art {
  list-style-image: image-url(art);
  list-style-position:outside;
}
.dating {
  list-style-image: image-url(dating);
  list-style-position:outside;
}
.music {
  list-style-image: image-url(music);
  list-style-position:outside;
}
.movies {
  list-style-image: image-url(movies);
  list-style-position:outside;
}
.series {
  list-style-image: image-url(series);
  list-style-position:outside;
}
.food {
  list-style-image: image-url(food);
  list-style-position:outside;
  border-bottom: transparent;
}

.alert {
  background-color: #f44242;
  color: white;
  font-family: 'Open Sans';
  margin-top: 3%;
  padding: 2%;
  text-align: center;
}
